@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<h3>Веб-додаток створила: </h3>

<div>
    <br />
    <p>Студентка групи 121-19-1 </p>
    <p>Бріжак Валерія Геннадіївна </p>
    <br />
</div>

<address>
    <strong>Ел. Пошта: </strong>   <a href="mailto:Brizhak.V.H@nmu.one">Brizhak.V.H@nmu.one</a><br />
</address>